@import "./variables.scss";

.about {
  .top-page {
    background-image: url("../media//img//about.webp");
    background-size: cover;
    background-repeat: no-repeat;

    h2 {
      color: #fff;
    }
  }

  .count {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 638px) {
        flex-direction: column;
        row-gap: 30px;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          font-weight: 600;
          font-size: 50px;
          color: $darkColor;
          margin-bottom: 10px;

          @media (max-width: 782px) {
            font-size: 30px;
          }
        }

        p {
          font-size: 18px;
          font-weight: 300;
          color: $secondaryColor;
          text-transform: uppercase;

          @media (max-width: 782px) {
            font-size: 16px;
          }
        }
      }
    }
  }

  .icon {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;

    @media (max-width: 1162px) {
      height: 50vh;
    }

    @media (max-width: 782px) {
      flex-direction: column;
      height: auto  ;
    }

    div {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 782px) {
        width: 100%;
      }

      &:first-child {
        padding:  100px;
        padding-left: 11vw;
        flex-direction: column;

        @media (max-width: 782px) {
          padding: 50px;
        }

        h2 {
          font-size: 50px;
          font-weight: 700;
          color: $secondaryColor;
          margin-bottom: 30px;

          @media (max-width: 1162px) {
            font-size: 35px;
            margin-bottom: 18px;
          }

          @media (max-width: 458px) {
            font-size: 28px;
          }
        }

        p {
          font-weight: 300;
          color: $secondaryColor;
          font-size: 34px;
          line-height: 130%;

          @media (max-width: 1162px) {
            font-size: 24px;
          }

          @media (max-width: 1062px) {
            font-size: 18px;
          }
        }
      }

      &:last-child {
        background: $primaryColor;

        @media (max-width: 782px) {
          padding: 80px;
        }

        svg {
          width: 150px;
          fill: #fff;

          @media (max-width: 1162px) {
            width: 100px;
          }
        }
      }
    }
  }

  .clients {
    background: $lightColor;
    
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      justify-content: center;
      row-gap: 100px;

      @media (max-width: 982px) {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 50px;
      }

      @media (max-width: 758px) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
      }

      @media (max-width: 532px) {
        grid-template-columns: 1fr;
        row-gap: 30px;
      }

      div {
        width: 200px;
        height: 30px;
        background: $darkColor;
        margin: 0 auto;
      }
    }
  }

  .purpose {
    .container {
      h3 {
        font-weight: 900;
        color: $darkColor;
        font-size: 70px;

        @media (max-width: 962px) {
          font-size: 50px;
        }

        @media (max-width: 762px) {
          font-size: 30px;
        }
      }
    }
  }
}
