@import "./variables.scss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: $primaryColor;
  border-radius: 5px;
}

h1, h2, h3, h4, h5, h6,
p, a, span,
input, textarea, label {
  font-family: 'Inter', sans-serif;
}

.container {
  width: 1552px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  
  @media (max-width: 1602px) {
    width: 1252px;
  }
  @media (max-width: 1282px) {
    width: 952px;
  }
  @media (max-width: 982px) {
    width: 100%;
  }
}

.btn {
  background: $primaryColor;
  color: $darkColor;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  transition: .5s ease;

  &.lg {
    font-size: 18px;
    padding: 22px 70px;

    @media (max-width: 482px) {
      font-size: 16px;
      padding: 18px 40px;
    }
  }

  &.md {
    font-size: 15px;
    padding: 16px 30px;
  }

  &:hover {
    letter-spacing: 2px;
    background: transparent !important;
  }
}

.top-page {
  padding: 130px 0;
  display: flex;
  justify-content: center;
  
  h1, h2 {
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
  }
}

.p-100-0 {
  padding: 100px 0;

  @media (max-width: 982px) {
    padding: 60px 0;
  }
}