@import "./variables.scss";

.contact {
  .top {
    background-color: $primaryColor;
    padding: 80px 0;

    @media (max-width: 722px) {
     padding: 40px;
    }

    .container {
      display: flex;
      min-height: 65vh;
      flex-direction: column;
      justify-content: end;

      @media (max-width: 722px) {
        min-height: 70vh;
      }

      @media (max-width: 482px) {
        min-height: 75vh;
      }

      h1 {
        color: #fff;
        font-weight: 600;
        font-size: 80px;
        text-transform: uppercase;
        width: 1030px;
        margin-bottom: 12px;
        line-height: 110%;

        @media (max-width: 1282px) {
          font-size: 60px;
          width: auto;
        }

        @media (max-width: 722px) {
          font-size: 40px;
        }

        strong {
          font-weight: 900;

          span {
            color: $darkColor;
          }
        }
      }

      p {
        color: $darkColor;
        line-height: 130%;

        &:nth-child(2) {
          font-weight: 300;
          font-size: 18px;
          width: 570px;
          margin-bottom: 25px;

          @media (max-width: 722px) {
            font-size: 16px;
            width: auto;
          }
        }

        &:nth-child(3) {
          font-size: 34px;
          font-weight: 300;

          @media (max-width: 722px) {
            font-size: 28px;
          }

          strong {
            font-weight: 700;
          }
        }
      }
    }
  }

  .content {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 782px) {
        flex-direction: column;
        row-gap: 60px;
      }

      a {
        font-size: 60px;
        font-weight: 700;
        text-decoration: none;
        color: $darkColor;
        transition: .5s ease;

        @media (max-width: 1282px) {
          font-size: 40px;
        }

        @media (max-width: 502px) {
          font-size: 25px;
        }

        &:hover {
          color: $primaryColor;
        }
      }

      ul {
        display: flex;
        column-gap: 60px;

        @media (max-width: 1282px) {
          column-gap: 40px;
        }

        @media (max-width: 502px) {
          font-size: 30px;
        }

        @media (max-width: 402px) {
          column-gap: 20px;
        }

        li a {
          font-size: 100px;

          @media (max-width: 1282px) {
            font-size: 75px;
          }

          @media (max-width: 502px) {
            font-size: 40px;
          }
        }
        
      }
    }
  }
}
