@import "./variables.scss";

.contact {
  .top {
    background-color: $primaryColor;
    padding: 80px 0;

    .container {
      display: flex;
      min-height: 65vh;
      flex-direction: column;
      justify-content: end;

      h1 {
        color: #fff;
        font-weight: 600;
        font-size: 80px;
        text-transform: uppercase;
        width: 1030px;
        margin-bottom: 12px;
        line-height: 110%;

        strong {
          font-weight: 900;

          span {
            color: $darkColor;
          }
        }
      }

      p {
        color: $darkColor;
        line-height: 130%;

        &:nth-child(2) {
          font-weight: 300;
          font-size: 18px;
          width: 570px;
          margin-bottom: 25px;
        }

        &:nth-child(3) {
          font-size: 34px;
          font-weight: 300;

          strong {
            font-weight: 700;
          }
        }
      }
    }
  }

  .form {
    .container {

      h2 {
        color: $darkColor;
        font-size: 40px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 15px;

        strong {
          font-weight: 700;
        }
      }

      p {
        color: $secondaryColor;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 40px;
        width: 700px;
        line-height: 120%;
      }

      form {
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          
          &:first-child {
            column-gap: 30px;
          }

          input {
            font-size: 15px;
            padding: 10px;

            &:not(#service) {
              width: calc(100% / 3);
              border: 1px solid $lightColor;
            }

            &:focus {
              outline: none;
            }

            &#service {
              appearance: none;
              background-color: $lightColor;
              margin: 0;
              margin-right: 10px;
              color: currentColor;
              width: 20px;
              height: 20px;
              transform: translateY(-0.075em);
              &:hover {
                cursor: pointer;
              }

              &::before {
                content: "";
                width: 14px;
                height: 14px;
                display: flex;
                opacity: 0;
                box-shadow: inset 1em 1em var(--form-control-color);
                clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
                background: $primaryColor;
                position: absolute;
              }

              &:checked::before {
                opacity: 1;
                transform: translate(-50%, -50%);
              }
            }
          }

          span {
            color: $secondaryColor;
            font-weight: 300;
            font-size: 15px;
            margin-right: 30px;
          }
        }

        label {
          color: $secondaryColor;
          font-weight: 300;
          font-size: 18px;
          width: 100% !important;
          margin-bottom: -20px;
        }

        textarea {
          font-size: 15px;
          padding: 10px;
          border: 1px solid $lightColor;
          resize: none;

          &:focus {
            outline: none;
          }
        }

        input[type="submit"] {
          border: 0;
          margin-top: 30px;
          width: 150px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
