@import "./variables.scss";

.index {

  .top {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(2, 27, 41, .2);

  
    video {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  
    h1 {
      display: grid;
      grid-template-areas: "a a" "b c " "b d" "e e";
      font-weight: 900;
      text-transform: uppercase;
      line-height: .9;
  
      span {
        display: grid;
  
        &:nth-child(1),
        &:nth-child(5) {
          grid-area: a;
          align-items: center;
          color: #fff;
        }
  
        &:nth-child(1) {
          grid-area: a;
          align-items: end;
          font-size: 62px;
          justify-content: center;

          @media (max-width: 982px) {
            font-size: 31px;
          }

          @media (max-width: 452px) {
            font-size: 20px;
          }
        }
  
        &:nth-child(5) {
          grid-area: e;
          align-items: start;
          justify-content: end;
          font-size: 72px;

          @media (max-width: 982px) {
            font-size: 36px;
          }

          @media (max-width: 452px) {
            font-size: 23px;
          }
        }
  
        &:nth-child(2) {
          grid-area: b;
          color: $primaryColor;
          font-size: 160px;

          @media (max-width: 982px) {
            font-size: 80px;
          }

          @media (max-width: 452px) {
            font-size: 55px;
          }
        }
  
        &:nth-child(3),
        &:nth-child(4) {
          justify-content: start;
          font-size: 72px;
          color: #fff;

          @media (max-width: 982px) {
            font-size: 36px;
          }

          @media (max-width: 452px) {
            font-size: 22px;
          }
        }
  
        &:nth-child(3) {
          align-items: end;
          grid-area: c;
        }
  
        &:nth-child(4) {
          align-items: start;
          grid-area: d;
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
      position: absolute;
      bottom: 80px;
      left: 80px;

      @media (max-width: 728px) {
        flex-direction: row;
        column-gap: 15px;
        bottom: 30px;
        left: 30px;
      }

      li {
        transform: rotate(-90deg);

        @media (max-width: 728px) {
          transform: none;
        }

        a {
          color: #fff;
          font-size: 20px;
          transition: .5s ease;

          &:hover {
            color: $primaryColor;
          }
        }
      } 
    }
  }

  .about {
    background: #e3eaee;
    min-height: 90vh;
    background-image: url(../media/img/about-index.png);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: bottom right;

    @media (max-width: 1282px) {
      min-height: auto;
    }

    @media (max-width: 572px) {
      background-size: 75%;
    }

    @media (max-width: 452px) {
      background-size: 100%;
    }

    .container {
      padding-top: 150px;
      padding-bottom: 150px;
      display: flex;
      justify-content: center;

      @media (max-width: 1282px) {
        padding-top: 80px;
        padding-bottom: 180px;
      }

      .main {
        display: flex;
        column-gap: 130px;
        max-width: 1154px;

        @media (max-width: 1282px) {
          column-gap: 60px;
        }

        @media (max-width: 772px) {
          flex-direction: column;

          div {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }

        h2 {
          color: $darkColor;
          font-weight: 900;
          text-align: right;
          text-transform: uppercase;
          font-size: 110px;
          width: 420px;

          @media (max-width: 1282px) {
            font-size: 80px;
            width: auto;
          }

          @media (max-width: 772px) {
            text-align: center;
            font-size: 60px;
            margin-bottom: 30px;
          }
        }
  
        h3 {
          color: $darkColor;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 44px;

          @media (max-width: 1282px) {
            font-size: 36px;
          }

          @media (max-width: 772px) {
            text-align: center;
            font-size: 24px;
          }
        }
  
        p {
          color: $secondaryColor;
          font-weight: 300;
          font-size: 22px;
          border-top: 4px solid $secondaryColor;
          padding-top: 60px;
          margin-top: 60px;
          text-transform: uppercase;
          line-height: 130%;

          @media (max-width: 1282px) {
            padding-top: 30px;
            margin-top: 30px;
            font-size: 18px;
          }

          @media (max-width: 772px) {
            text-align: center;
            font-size: 16px;
          }
  
          strong {
            font-weight: 700;
            background: $primaryColor;
            padding: 1px 5px;
          }
        }
  
        a {
          color: $secondaryColor;
          font-weight: 300;
          font-size: 20px;
          text-decoration: none;
          border-bottom: 1px solid $secondaryColor;
          margin-top: 25px;
          display: inline-block;
          transition: .5s ease;

          @media (max-width: 1282px) {
            font-size: 16px;
          }

          @media (max-width: 772px) {
            text-align: center;
          }
  
          &:hover {
            color: $primaryColor;
            border-color: $primaryColor;
          }
        }
      }
    }
  }

  .services {
    background: $primaryColor;
    padding: 150px 0;

    @media (max-width: 1282px) {
      padding-top: 100px;
      padding-bottom: 100px;
      padding: 60px 0;
    }

    .container {
      display: flex;
      align-items: center;
      column-gap: 100px;

      @media (max-width: 1602px) {
        column-gap: 20px;
      }

      @media (max-width: 768px) {
        flex-direction: column;
      }


      div {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 70px;
        width: 100%;

        @media (max-width: 1282px) {
          row-gap: 50px;

          &:last-child {
            padding-top: 60px;
          }
        }

        h4 {
          color: #fff;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 16px;
        }

        ul {
          display: flex;
          flex-direction: column;
          row-gap: 20px;

          @media (max-width: 1282px) {
            row-gap: 10px;
          }

          li p {
            color: $darkColor;
            font-weight: 900;
            font-size: 55px;
            opacity: .3;
            transition: .5s ease;

            @media (max-width: 1282px) {
              font-size: 35px;
            }

            @media (max-width: 412px) {
              font-size: 28px;
            }

            &[active],
            &:hover {
              color: #fff;
              opacity: 1;
              transition: opacity .2s ease;
            }
          }
        }
        
        a {
          display: inline-block;
          background: #fff;
        }
      }
      
      img {
        display: flex;
        max-width: 100%;
        max-height: 100%;
        opacity: 1;
        transition: opacity 500ms
      }
    }
  }

  .contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 982px) {
      padding-left: 50px;
      padding-right: 50px;
    }

    p {
      color: $secondaryColor;
      font-size: 25px;
      font-weight: 300;
      max-width: 690px;
      text-align: center;
      line-height: 120%;

      @media (max-width: 482px) {
        font-size: 18px;
      }

      strong {
        font-weight: 700;
      }
    }

    a {
      margin-top: 50px;

      @media (max-width: 482px) {
        margin-top: 30px;

      }
    }
  }
}