@import "./variables.scss";

.portfolio {
  .columns {
    .container {
      display: flex;
      flex-direction: row;
      column-gap: 30px;
      margin-bottom: 100px;

      @media (max-width: 872px) {
        flex-direction: column;
        row-gap: 20px;
        margin-bottom: 70px;
      }
  
      .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        row-gap: 30px;
    
        a {
          background: $lightColor;
          display: flex;
          width: 100%;
          position: relative;

          img {
            width: 100%;
          }

          .hover {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $secondaryColor;
            transition: .7s ease;
            opacity: 0;

            img {
              width: 70%;
              filter: invert(100%);
            }
          }

          &:hover {
            .hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
