<footer>
  <section>
    <div class="container" data-aos="fade-up">
      {{> logo}}
      <p>
        <strong>ViragStudio Ltda.</strong>
        (11) 99570-1084
        <a href="mailto:atendimento@viragstudio.com.br">atendimento@viragstudio.com.br</a>
        <a href="mailto:suporte@viragstudio.com.br">suporte@viragstudio.com.br</a>
      </p>
      <ul>
        <li><a href="/">Portfólio</a></li>
        <li><a href="/">Logofólio</a></li>
        <li><a href="/">ViragStudio</a></li>
      </ul>
      <ul>
        <li><a href="/">Serviços</a></li>
        <li><a href="/">Contato</a></li>
      </ul>
    </div>
  </section>
  <section>
    <div class="container">
      <p>{{ copyright }} © ViragStudio Ltda.</p>
      <p>Projetado e desenvolvido por <strong>ViragStudio</strong></p>
    </div>
  </section>
</footer>