<footer>
  <section>
    <div class="container" data-aos="fade-up">
      {{> logo}}
      <p>
        <strong>ViragStudio Ltda.</strong>
        <a href="tel:11995701084">(11) 9 9570-1084</a>
        <a href="mailto:atendimento@viragstudio.com.br">atendimento@viragstudio.com.br</a>
        <a href="mailto:suporte@viragstudio.com.br">suporte@viragstudio.com.br</a>
      </p>
      <ul>
        <li><a href="/portfolio">Portfólio</a></li>
        <li><a href="/">Logofólio</a></li>
        <li><a href="/sobre">ViragStudio</a></li>
      </ul>
      <ul>
        <li><a href="/servicos">Serviços</a></li>
        <li><a href="/contato">Contato</a></li>
      </ul>
    </div>
  </section>
  <section>
    <div class="container">
      <p>{{ copyright }} © ViragStudio Ltda.</p>
      <p>Projetado e desenvolvido por <strong>ViragStudio</strong></p>
    </div>
  </section>
</footer>