<header {{#if whiteHeader}}class="white"{{/if}}>
  <a href="/" class="logo">
    {{> icon}}
  </a>
  <a class="menu">
    <i>
      <div></div>
      <div></div>
    </i>
    <span>Menu</span>
  </a>
  <nav>
    {{> logo}}
    <ul>
      <li><a href="/portfolio">Portfólio</a></li>
      <li class="breve"><a href="/">Logofólio</a></li>
      <li><a href="/sobre">ViragStudio</a></li>
    </ul>
    <ul>
      <li><a href="/servicos">Serviços</a></li>
      <li><a href="/contato">Contato</a></li>
    </ul>
    <a class="menu-close">
      <div></div>
      <div></div>
    </a>
  </nav>
</header>