<header {{#if whiteHeader}}class="white"{{/if}}>
  <a href="/" class="logo">
    {{> icon}}
  </a>
  <a class="menu">
    <i>
      <div></div>
      <div></div>
    </i>
    <span>Menu</span>
  </a>
<nav>
    <div class="container">
      {{> logo}}
      <ul>
        <a class="menu-close">
          <div></div>
          <div></div>
        </a>
        <li><a href="/portfolio">Portfólio</a></li>
        <li><a href="/">Logofólio</a></li>
        <li><a href="/sobre">ViragStudio</a></li>
        <li><a href="/servicos">Serviços</a></li>
        <li><a href="/contato">Contato</a></li>
      </ul>
    </div>
  </nav>
</header>