<header {{#if whiteHeader}}class="white"{{/if}}>
  <div class="container">
    <a href="/" class="logo">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.51 17.48"><
        <path d="M9.59,17,15.12,0H11.17L9.08,7.24c-.56,2-1.07,4-1.48,6.06H7.52c-.39-2.13-.9-4.07-1.46-6.09L4.07,0H0L5.26,16.93Z"/>
        <path d="M23.51,16.46a10.49,10.49,0,0,1-4.61,1c-4.36,0-6.43-2.39-6.43-5.24,0-2.4,1.34-4,4.16-5.08,2-.84,2.92-1.32,2.92-2.41,0-.89-.75-1.65-2.29-1.65a7.27,7.27,0,0,0-3.34.81L13.12.84A9.53,9.53,0,0,1,17.19,0c3.77,0,6.1,2.18,6.1,5.08,0,2.48-1.77,4.05-4.46,5-1.89.73-2.64,1.34-2.64,2.4s.86,1.85,2.5,1.85a9.16,9.16,0,0,0,4.07-1.06Z"/>
      </svg>
    </a>
    <a class="menu">
      <i>
        <div></div>
        <div></div>
      </i>
      <span>Menu</span>
    </a>
  </div>
  <nav>
    <div class="container">
      {{> logo}}
      <ul>
        <a class="menu-close">
          <div></div>
          <div></div>
        </a>
        <li><a href="/">Portfólio</a></li>
        <li><a href="/">Logofólio</a></li>
        <li><a href="/">ViragStudio</a></li>
        <li><a href="/servicos">Serviços</a></li>
        <li><a href="/contato">Contato</a></li>
      </ul>
    </div>
  </nav>
</header>