<section class="not-found">
  <div class="container" data-aos="zoom-out">
    <i>
      <div></div>
      <div></div>
    </i>
    <h1>Ops, parece que algo deu errado</h1>
    <p> A página que você estava procurando não foi encontrada. Ela pode ter sido removida, renomeada ou não existir.</p>
    <a class="btn lg" href="/">
      Voltar para a página inicial
    </a>
  </div>
</section>