<div class="about">
  <section class="top-page">
    <h2>Sobre</h2>
  </section>
  <section class="count">
    <div class="container">
      <div>
        <span id="years">+7</span>
        <p>Anos de experiência</p>
      </div>
      <div>
        <span id="lines">+100000</span>
        <p>Linhas de código</p>
      </div>
      <div>
        <span id="clients">+26</span>
        <p>Clientes satisfeitos</p>
      </div>
    </div>
  </section>
  <section class="icon">
    <div>
      <main>
        <h2>Isso é ViragStudio</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut quisquam delectus iure quae ut hic accusantium pariatur recusandae, maxime temporibus vel nemo, et molestias sed expedita blanditiis explicabo? Ut, nobis?</p>
      </main>
    </div>
    <div>
      {{> icon}}
    </div>
  </section>
  <div class="clients">
    <div class="container">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <section class="purpose">
    <div class="container">
      <h1>Fundados sobre o propósito de inovação, de fazer a melhor experiênca em meio digital para você!</h1>
    </div>
  </section>
</div>