<div class="about">
  <section class="top-page">
    <h2 data-aos="zoom-out">Sobre</h2>
  </section>
  <section class="count p-100-0">
    <div class="container" data-aos="zoom-out">
      <div>
        <span id="years">+7</span>
        <p>Anos de experiência</p>
      </div>
      <div>
        <span id="lines">+100000</span>
        <p>Linhas de código</p>
      </div>
      <div>
        <span id="clients">+26</span>
        <p>Clientes satisfeitos</p>
      </div>
    </div>
  </section>
  <section class="icon">
    <div>
      <main data-aos="fade-up">
        <h2>Isso é ViragStudio</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut quisquam delectus iure quae ut hic accusantium pariatur recusandae, maxime temporibus vel nemo, et molestias sed expedita blanditiis explicabo? Ut, nobis?</p>
      </main>
    </div>
    <div data-aos="fade-up">
      {{> icon}}
    </div>
  </section>
  <div class="clients p-100-0">
    <div class="container" data-aos="fade-up">
      <img src="media/img/lafragranza.svg" alt="Logo LaFragranza">
      <img src="media/img/gamesfun.svg" alt="Logo Games Fun">
      <img src="media/img/honofreviagens.svg" alt="Logo Honofre Viagens">
      <img src="media/img/totalmegastore.svg" alt="Logo TotalMegastore">
      <img src="media/img/zetaquara.svg" alt="Logo Zé Taquara">
      <img src="media/img/fofypaes.svg" alt="Logo Fofy Pães">
      <img src="media/img/professionaladvisor.svg" alt="Logo Professional Advisor">
      <img src="media/img/pililo.svg" alt="Logo Pililo">
    </div>
  </div>
  <section class="purpose p-100-0">
    <div class="container" data-aos="zoom-out">
      <h3>Fundados sobre o propósito de inovação, de fazer a melhor experiênca em meio digital para você!</h3>
    </div>
  </section>
</div>