<div class="contact">
  <section class="top">
    <div class="container" data-aos="zoom-out">
      <h1>Estamos sempre <strong>prontos para <span>ajudar!</span></strong></h1>
      <p>Qualquer dúvida ou sugestão sobre nós, utilize os canais de e-mail que retornaremos o mais breve possível.</p>
      <p>Vamos trabalhar <strong>juntos!</strong></p>
      <p></p>
    </div>
  </section>
  <section class="content p-100-0">
    <div class="container" data-aos="fade-up">
      <a href="mailto:atendimento@viragstudio.com.br">
        atendimento<br>@viragstudio<br>.com.br
      </a>
      <div>
        <ul>
          <li><a href="/"><i class="fa fa-instagram"></i></a></li>
          <li><a href="/"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="/"><i class="fa fa-behance"></i></a></li>
          <li><a href="/"><i class="fa fa-facebook"></i></a></li>
        </ul>
      </div>
    </div>
  </section>
</div>