<div class="contact">
  <section class="top">
    <div class="container" data-aos="zoom-out">
      <h1>Estamos sempre <strong>prontos para <span>ajudar!</span></strong></h1>
      <p>Qualquer dúvida ou sugestão sobre nós, utilize os canais de e-mail que retornaremos o mais breve possível.</p>
      <p>Vamos trabalhar <strong>juntos!</strong></p>
      <p></p>
    </div>
  </section>
  <section class="form p-100-0">
    <div class="container" data-aos="fade-up">
      <h2>O que você <strong>tem em mente?</strong></h2>
      <p>Se você busca criar algo incrível com inovação e design, utilize a expertise da ViragStudio para te auxiliar nesse processo.</p>
      <form action="" data-aos="zoom-out">
        <div>
          <input type="text" id="name" placeholder="Nome">
          <input type="email" id="mail" placeholder="E-mail">
          <input type="tel" id="phone" placeholder="Telefone">
        </div>
        <label>Em qual serviço você está interessado?</label>
        <div>
          <input type="checkbox" id="service" value="Website Design & Desenvolvimento">
          <span>Website Design & Desenvolvimento</span>
          <input type="checkbox" id="service" value="Branding">
          <span>Branding</span>
          <input type="checkbox" id="service" value="Sistemas Web">
          <span>Sistemas Web</span>
        </div>
        <textarea id="mensagem" cols="30" rows="10" placeholder="Mensagem"></textarea>
        <input type="submit" class="btn md" value="Enviar">
      </form>
    </div>
  </section>
</div>