<div class="internal-portfolio">
  <section class="top" data-aos="zoom-out">
    <h1>Honofre Viagens</h1>
  </section>
  <section class="explain p-100-0 container">
    <div>
      <h2>Resumo</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu rhoncus lacus. Pellentesque leo augue, accumsan quis purus nec, euismod lobortis eros. Ut felis mi, viverra sit amet luctus vel, dapibus a sapien. Etiam risus eros, posuere et semper quis, sollicitudin in ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae. Phasellus eget nisi vitae urna scelerisque congue in nec risus.
        <br><br>
        Cras euismod quis odio quis semper. Suspendisse eget vehicula felis. Quisque pretium ornare ex eu dapibus. Etiam vitae ligula risus. Quisque at orci at purus porttitor porttitor. Phasellus vel fringilla neque, a mollis massa. Aenean pretium ut lectus id tristique.
      </p>
    </div>
    <div>
      <ul>
        <li><p><strong>Segmento</strong></p></li>
        <li><p>Lorem ipsum dolor</p></li>
        <li></li>
        <li><p><strong>Localização</strong></p></li>
        <li><p>Adipisicing</p></li>
        <li></li>
        <li><p><strong>O que fizemos</strong></p></li>
        <li><p>Sapiente</p></li>
        <li><p>Elit</p></li>
        <li><p>Rerum</p></li>
        <li><p>Distinctio</p></li>
      </ul>
    </div>
  </section>
  <section class="main container">
    <img src="media/img/honofreviagens00.png" alt="asdf">
    <img src="media/img/honofreviagens01.png" alt="asdf">
    <img src="media/img/honofreviagens02.jpg" alt="asdf">
    <img src="media/img/honofreviagens03.jpg" alt="asdf">
    <img src="media/img/honofreviagens04.jpg" alt="asdf">
    <img src="media/img/honofreviagens05.jpg" alt="asdf">
    <img src="media/img/honofreviagens06.jpg" alt="asdf">
    <img src="media/img/honofreviagens07.jpg" alt="asdf">
  </section>
</div>