<div class="index">
  <section class="top" data-aos="fade" data-aos-duration="2000">
    <video autoplay loop muted plays-inline>
      <source src="media/video/bg.mp4" type="video/mp4" />
    </video>
    <h1 >
      <span>Experiência</span>
      <span>única</span>
      <span>para</span>
      <span>todas</span>
      <span>as marcas</span>
    </h1>
    <ul>
      <li><a href="/"><i class="fa fa-instagram"></i></a></li>
      <li><a href="/"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="/"><i class="fa fa-behance"></i></a></li>
      <li><a href="/"><i class="fa fa-facebook"></i></a></li>
    </ul>
  </section>
  <section class="about">
    <div class="container">
      <div class="main">
        <h2 data-aos="zoom-out-right">Quem somos nós</h2>
        <div data-aos="zoom-out-left">
          <h3>Focados em trazer soluções com design personalizado</h3>
          <p>A mais de 5 anos atrás, surgimos com o propósito de unificar <strong>inovação e design</strong>, adicionando criatividade em todas as nossas soluções.</p>
          <a href="/sobre">Ver mais</a>
        </div>
      </div>
    </div>
  </section>
  <section class="services">
    <div class="container">
      <main>
        <div data-aos="fade-up">
          <h4>Nossos serviços</h4>
          <ul>
            <li>
              <p class="s-hover" onmouseover="shover(0, 'web')">
                Web Design Criativo
              </p>
            </li>
            <li>
              <p class="s-hover" onmouseover="shover(1, 'development')" active>
                Desenvolvimento Web
              </p>
            </li>
            <li>
              <p class="s-hover" onmouseover="shover(2, 'branding')">
                Branding
              </p>
            </li>
            <li>
              <p class="s-hover" onmouseover="shover(3, 'dashboard')">
                Sistema Web Funcional
              </p>
            </li>
          </ul>
          <a class="btn md" href="/servicos">
            Saiba mais sobre
          </a>
        </div>
        <div data-aos="fade-up">
          <img class="s-hover-img" src="media/img/development-index.png" alt="Design Criativo">
        </div>
      </main>
    </div>
  </section>
  <section class="contact" data-aos="zoom-in-up">
    <p>
      <strong>Vamos trabalhar juntos</strong>
      para criar a experiência que vai levar a sua marca para o próximo nível.
    </p>
    <a class="btn lg" href="/contato">
      Iniciar um projeto
    </a>
  </section>
</div>