<div class="portfolio">
  <section class="top-page" data-aos="zoom-out">
    <h2>Portfólio</h2>
  </section>
  <div class="columns">
    <div class="container">
      <div class="column">
        <a href="/" class="lg" data-aos="fade-up">
          <div class="img"></div>
          <div class="hover">
            <div class="logo"></div>
          </div>
        </a>
        <a href="/" class="md" data-aos="fade-up">
          <div class="img"></div>
          <div class="hover">
            <div class="logo"></div>
          </div>
        </a>
        <a href="/" class="sm" data-aos="fade-up">
          <div class="img"></div>
          <div class="hover">
            <div class="logo"></div>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="/" class="sm" data-aos="fade-up">
          <div class="img"></div>
          <div class="hover">
            <div class="logo"></div>
          </div>
        </a>
        <a href="/" class="lg" data-aos="fade-up">
          <div class="img"></div>
          <div class="hover">
            <div class="logo"></div>
          </div>
        </a>
        <a href="/" class="lg" data-aos="fade-up">
          <div class="img"></div>
          <div class="hover">
            <div class="logo"></div>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="/" class="md" data-aos="fade-up">
          <div class="img"></div>
          <div class="hover">
            <div class="logo"></div>
          </div>
          <a href="/" class="sm" data-aos="fade-up">
          <div class="img"></div>
          <div class="hover">
            <div class="logo"></div>
          </div>
        </a>
          <a href="/" class="md" data-aos="fade-up">
          <div class="img"></div>
          <div class="hover">
            <div class="logo"></div>
          </div>
        </a>
        </a>
      </div>
    </div>
  </div>
</div>