<div class="portfolio">
  <section class="top-page" data-aos="zoom-out">
    <h2>Portfólio</h2>
  </section>
  <div class="columns">
    <div class="container">
      <div class="column">
        <a href="/" class="lg" data-aos="fade-up">
          <div class="img"></div>
          <div class="hover">
            <div class="logo"></div>
          </div>
        </a>
        <a href="/" class="md" data-aos="fade-up">
          <div class="img"></div>
          <div class="hover">
            <div class="logo"></div>
          </div>
        </a>
        <a href="/" class="sm" data-aos="fade-up">
          <div class="img"></div>
          <div class="hover">
            <div class="logo"></div>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="/portfolio/honofreviagens" class="md" data-aos="fade-up">
          <img src="media/img/honofreviagens.jpg" alt="ViragStudio portfólio Honofre Viagens">
          <div class="hover">
            <img src="media/img/honofreviagens.svg" alt="Logo Honofre Viagens">
          </div>
          <a href="/" class="sm" data-aos="fade-up">
          <div class="img"></div>
          <div class="hover">
            <div class="logo"></div>
          </div>
        </a>
        <a href="/" class="lg" data-aos="fade-up">
          <div class="img"></div>
          <div class="hover">
            <div class="logo"></div>
          </div>
        </a>
        <a href="/" class="lg" data-aos="fade-up">
          <div class="img"></div>
          <div class="hover">
            <div class="logo"></div>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="/portfolio/totalmegastore" class="md" data-aos="fade-up">
          <img src="media/img/totalmegastore.jpg" alt="ViragStudio portfólio TotalMegastore">
          <div class="hover">
            <img src="media/img/totalmegastore.svg" alt="Logo TotalMegastore">
          </div>
          <a href="/" class="sm" data-aos="fade-up">
          <div class="img"></div>
          <div class="hover">
            <div class="logo"></div>
          </div>
        </a>
          <a href="/" class="md" data-aos="fade-up">
          <div class="img"></div>
          <div class="hover">
            <div class="logo"></div>
          </div>
        </a>
        </a>
      </div>
    </div>
  </div>
</div>