<div class="portfolio">
  <section class="top-page" data-aos="zoom-out">
    <h2>Portfólio</h2>
  </section>
  <div class="columns">
    <div class="container">
      <div class="column">
        <a href="/portfolio/netmugs" class="md" data-aos="fade-up">
          <img src="media/img/netmugs.jpg" alt="ViragStudio portfólio Netmugs">
          <div class="hover">
            <img src="media/img/netmugs.svg" alt="Logo Netmugs">
          </div>
        </a>
        <a href="/portfolio/openmilhas" class="md" data-aos="fade-up">
          <img src="media/img/openmilhas.jpg" alt="ViragStudio portfólio Open Milhas">
          <div class="hover">
            <img src="media/img/openmilhas.svg" alt="Logo Honofre Viagens">
          </div>
        </a>
        <a href="/" class="sm" data-aos="fade-up">
          <div class="img"></div>
          <div class="hover">
            <div class="logo"></div>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="/portfolio/honofreviagens" class="md" data-aos="fade-up">
          <img src="media/img/honofreviagens.jpg" alt="ViragStudio portfólio Honofre Viagens">
          <div class="hover">
            <img src="media/img/honofreviagens.svg" alt="Logo Honofre Viagens">
          </div>
        </a>
        <a href="/" class="lg" data-aos="fade-up">
          <div class="img"></div>
          <div class="hover">
            <div class="logo"></div>
          </div>
        </a>
        <a href="/" class="lg" data-aos="fade-up">
          <div class="img"></div>
          <div class="hover">
            <div class="logo"></div>
          </div>
        </a>
      </div>
      <div class="column">
        <a href="/portfolio/totalmegastore" class="md" data-aos="fade-up">
          <img src="media/img/totalmegastore.jpg" alt="ViragStudio portfólio TotalMegastore">
          <div class="hover">
            <img src="media/img/totalmegastore.svg" alt="Logo TotalMegastore">
          </div>
        </a>
        <a href="/portfolio/wilsondias" class="md" data-aos="fade-up">
          <img src="media/img/wilsondias.jpg" alt="ViragStudio portfólio Wilson Dias Eventos">
          <div class="hover">
            <img src="media/img/wilsondias.svg" alt="Logo Wilson Dias Eventos">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>