<div class="services">
  <section class="top-page" data-aos="zoom-out">
    <h1>Serviços</h1>
  </section>
  <section class="advantages p-100-0" data-aos="zoom-out">
    <div class="container">
      <h1>O que nos faz tão bons?</h1>
      <div>
        <h3>Personalizado</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque nobis cupiditate eveniet commodi dolores mollitia perferendis.</p>
      </div>
      <div>
        <h3>Responsivo</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque nobis cupiditate eveniet commodi dolores mollitia perferendis.</p>
      </div>
      <div>
        <h3>Otimizado</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque nobis cupiditate eveniet commodi dolores mollitia perferendis.</p>
      </div>
      <div>
        <h3>Leve</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque nobis cupiditate eveniet commodi dolores mollitia perferendis.</p>
      </div>
    </div>
  </section>
  <section class="right web" data-aos="fade-up">
    <div>
      <main>
        <h2>Web Design Criativo</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, sapiente? Assumenda fugiat earum labore voluptas iusto, necessitatibus, accusantium numquam reiciendis iste praesentium vel explicabo sapiente. Id, voluptate esse! Mollitia, eveniet.</p>
      </main>
    </div>
    <div></div>
  </section>
  <section class="right development" data-aos="fade-up">
    <div>
      <main>
        <h2>Desenvolvimento Web</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, sapiente? Assumenda fugiat earum labore voluptas iusto, necessitatibus, accusantium numquam reiciendis iste praesentium vel explicabo sapiente. Id, voluptate esse! Mollitia, eveniet.</p>
      </main>
    </div>
    <div></div>
  </section>
  <section class="left branding" data-aos="fade-up">
    <div></div>
    <div>
      <main>
        <h2>Branding</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, sapiente? Assumenda fugiat earum labore voluptas iusto, necessitatibus, accusantium numquam reiciendis iste praesentium vel explicabo sapiente. Id, voluptate esse! Mollitia, eveniet.</p>
      </main>
    </div>
  </section>
  <section class="left dashboard" data-aos="fade-up">
    <div></div>
    <div>
      <main>
        <h2>Sistema Web Funcional</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, sapiente? Assumenda fugiat earum labore voluptas iusto, necessitatibus, accusantium numquam reiciendis iste praesentium vel explicabo sapiente. Id, voluptate esse! Mollitia, eveniet.</p>
      </main>
    </div>
  </section>
</div>